In [4]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [5]:
#1. What is the length of the salaries list.
print(len(salaries))

7

In [6]:
#2. Retrieve the third salary in the list by using index.
salaries[2]

'50k'

In [7]:
#3. Extract the last salary from the list by using a negative index.
print(salaries[-1:])

['40k']

In [8]:
#4. Slice the salaries list to get only the middle three salaries.
print(salaries[2:5])

['50k', '60k', '35k']

In [9]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [10]:
#5. Add a new salary to the list, ‘100k’ by using append() method.
salaries.append('100k')
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [11]:
#5 Add a new salary to the list, ‘120k’ without method.
exp = [salaries , '120k']
print(exp)

[['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k'], '120k']

In [12]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [13]:
#6 Replace the third salary in the list with '55k' and print the updated list.
salaries[2] = '55k'
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k']

In [14]:
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k']

In [15]:
#7 Count how many times '40k' appears in the list.
count = salaries.count('40k')
print(count)

2

In [16]:
#8. Insert a new salary at the second position.
salaries.insert(1,'48k')
print(salaries)

['20k', '48k', '40k', '55k', '60k', '35k', '89k', '40k', '100k']

In [17]:
#9. Reverse the order of the salaries list with method.
salaries.reverse()
print(salaries)

['100k', '40k', '89k', '35k', '60k', '55k', '40k', '48k', '20k']

In [18]:
salaries

['100k', '40k', '89k', '35k', '60k', '55k', '40k', '48k', '20k']

In [29]:
#10. Reverse the order of the salaries list without method.
salaries[::-1]

['20k', '48k', '40k', '55k', '60k', '35k', '89k', '40k', '100k']